/* Estilo para o título */
.title2 {
  width: 100%; /* O container ocupa a largura total */
  padding: 20px; /* Espaçamento interno */
  display: flex; /* Adicionando flexbox */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.title2 h2 {
  font-size: 2rem; /* Tamanho de fonte responsivo */
  color: #333;
  margin: 0; /* Remove a margem para alinhamento preciso */
}

/* Estilo para o container de ícones */
.icon-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 500px; /* Altura fixa para o container do ícone */
}

.paw-icon {
  font-size: 300px; /* Tamanho fixo do ícone */
  color: #e8d1ff; /* Cor rosa */
}

.container {
  display: flex;
  flex-direction: column; /* Coloca os elementos em coluna */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
  height: 100vh; /* Altura total da viewport */
  padding: 20px; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui padding na altura/largura */
}

/* Estilo para o container do formulário */
.form-container {
  display: flex;
  justify-content: center; /* Centraliza o formulário horizontalmente */
  align-items: center; /* Centraliza o formulário verticalmente */
  flex-direction: column; /* Alinha os itens verticalmente */
  width: 100%; /* O container do formulário ocupa 100% da largura disponível */
  max-width: 700px; /* Define uma largura máxima para o formulário */
  margin: 0 auto; /* Garante centralização horizontal */
}

/* Estilo para o formulário de login */
.login-form {
  background-color: white; /* Cor de fundo do formulário */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  display: flex;
  flex-direction: column; /* Coloca os elementos do formulário em coluna */
  align-items: center; /* Centraliza os elementos do formulário */
  width: 100%;
}

/* Estilo para os rótulos do formulário */
.login-form label {
  display: block; /* Exibe o rótulo como bloco para ocupar a largura total */
  margin-bottom: 8px; /* Espaçamento abaixo do rótulo */
  color: #e8d1ff; /* Cor do texto do rótulo */
  font-weight: bold; 
  width: 100%; /* Garante que o rótulo ocupe toda a largura do formulário */
}

/* Estilo para os campos de entrada do formulário */
.login-form input {
  width: 100%; /* Ocupa toda a largura disponível */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 60px; /* Espaçamento abaixo do campo de entrada */
  border: 4px solid #e8d1ff; /* Borda com a cor especificada */
  border-radius: 50px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
}

/* Estilo para o botão do formulário */
.login-form button {
  width: 60%; /* Largura do botão ajustada */
  padding: 15px; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  border-radius: 50px; /* Bordas arredondadas */
  background-color: #e8d1ff; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  margin-bottom: 30px;
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Adiciona o cursor de ponteiro ao passar sobre o botão */
}

/* Estilo para o botão do formulário ao passar o mouse */
.login-form button:hover {
  background-color: #d2a0f3; /* Cor de fundo do botão ao passar o mouse */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .title2 h2 {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para telas menores */
  }

  .header-image {
    max-width: 100%; /* Garante que a imagem ocupe a largura total em telas menores */
  }

  .login-form input,
  .login-form button {
    font-size: 0.875rem; /* Ajusta o tamanho da fonte dos campos de entrada e botão */
  }
}

@media (max-width: 480px) {
  .title2 h2 {
    font-size: 1.25rem; /* Reduz ainda mais o tamanho da fonte para telas muito pequenas */
  }

  .form-container {
    width: 90%; /* O container do formulário ocupa 100% da largura disponível */
  }
}

  
  