/* Container do Carrossel */
.carrossel-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: 20px auto; /* Centraliza o carrossel e adiciona margem superior/inferior */
    overflow: hidden; /* Esconde os itens fora do container */
  }
  
  .carrossel {
    display: flex;
    transition: transform 0.5s ease; /* Transição suave ao mudar de imagem */
  }
  
  .carrossel-item {
    flex: 0 0 100%; /* Cada item ocupa 100% da largura do container */
  }
  
  .carrossel-item img {
    width: 100%;
    display: block; /* Remove o espaço abaixo da imagem */
  }
  
  /* Botões de Navegação */
  .carrossel-prev,
  .carrossel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    color: #e8d1ff;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Coloca os botões acima do carrossel */
  }
  
  .carrossel-prev {
    left: 10px;
  }
  
  .carrossel-next {
    right: 10px;
  }
  